<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
</head>
<body>
	<div>
		<h1>編集</h1>
	</div>
	<div th:if="${errorMessages != null}">
		<ul th:each="errorMessage : ${errorMessages}">
			<li th:text="${errorMessage}">
		</ul>
	</div>
	<div>
		<form action="/update" method="post" th:object="${formModel}">
			<input name="id" type="hidden" th:value="*{id}"></input> <input
				name="status" type="hidden" th:value="*{status}"></input>
			<textarea name="content" cols="30" rows="5"
				th:text="*{content}" ></textarea>
			</br> <input type="date" name="date" th:value="${date}" /> <input
				type="submit" value="更新">
		</form>
		<form action="/">
			<input type="submit" value="戻る" />
		</form>

	</div>

</body>
</html>