<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク追加画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>タスク追加</h1>
	<form method="post" action="/add" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>投稿内容</th>
				<th>タスク期限</th>
			</tr>
			<tr>
				<td><textarea name="content" cols="30" rows="5" id="newContent" th:value="*{content}"/></textarea></td>
				<td><input type="date" name="date" th:value="${date}"></td>
			</tr>
		</table>
		<input type="submit" value="追加" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>